<h1>Listing applicants</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Entry</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.body %></td>
        <td><%= link_to 'Show', applicant(entry) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
