<%= link_to image_tag("logo.png"), destroy_company_session_path, :method => :delete  %>

<p>スタディインターンのお申込みが完了しました。</p>
<p>お申込みどうもありがとうございました。お申込みの確認メールを担当者のメールアドレスに送信いたしました</p>
<%= link_to "topに戻る", destroy_company_session_path, :method => :delete  %>
